body {
    background-image: url('bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    letter-spacing: 4px;
}
.nav-menu {
    background: rgba(0,80,0,0.75);
    /*width: 100%;*/
    height: auto;
    color: white;
    padding: 12px;
    text-align: center;
}
.player-form {
    text-align: center;
    margin: auto;
}
#select-team, #select-pos {
    font-size: 18px;
}
.form-group {
    width: 100%;
    text-align: center;
    margin: auto;
    /*padding: 10px;*/
}
#roster {
    margin-top: 20px;
    margin-bottom: 20px;
}
#roster-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: #006600;
    text-shadow: 1px 1px 10px white;
}
#roster-toggle:hover {
    cursor: pointer;
}
#my-roster {
    /*background: rgba(255,255,255,0.5);*/
    margin-bottom: 12px;
    border-bottom: 6px solid #ffffff;
}
#my-roster div .card {
    background: rgba(255,255,255,0.75);
    border: 4px solid #006600;
    box-shadow: 0px 0px 20px #ffffff;
}
#my-roster div .card:hover {
    background: #fff;
}
.player-card {
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    margin-bottom: 6px;
}
.player-card:hover {
    background: rgba(255,255,255,0.75);
}
.player-img {
    width: 170px;
    height: auto;
    max-width: 100%;
}
.player-controls {
    font-size: 2em;
    padding: 6px;
    margin-top: 6px;
    height: 2px;
}
.player-info {
    border-top: 1px solid black;
}
.add-player {
    float: left;
    color: #006600;
}
.add-player:hover {
    color: #009900;
    text-shadow: 0px 0px 10px white;
    cursor: pointer;
}
.remove-player {
    float: right;
    color: #660000;
}
.remove-player:hover {
    color: #990000;
    text-shadow: 0px 0px 10px white;
    cursor: pointer;
}